a.google-login {
    text-decoration: none;
    color: inherit;
}

/* Style for the Google login link */
.google-login {
    display: inline-block;
    background-color: #e6e9ed;
    /* Google blue */
    color: #ffffff;
    /* Text color */
    padding: 15px 30px;
    /* Padding for larger button */
    border-radius: 5px;
    /* Rounded corners */
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    /* Drop shadow */
}

.google-login:hover {
    background-color: #3a77e5;
    /* Darker blue on hover */
}

span.invalid-feedback {
    display: block !important;
}
